<div class="wrapper">
        <div class="load-center" *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
                <!--  <mk-cube-grid color="#f39c12" class="load-center"></mk-cube-grid> -->
                 <div class=" sk-cube-grid">
                         <div class="sk-cube sk-cube1"></div>
                         <div class="sk-cube sk-cube2"></div>
                         <div class="sk-cube sk-cube3"></div>
                         <div class="sk-cube sk-cube4"></div>
                         <div class="sk-cube sk-cube5"></div>
                         <div class="sk-cube sk-cube6"></div>
                         <div class="sk-cube sk-cube7"></div>
                         <div class="sk-cube sk-cube8"></div>
                         <div class="sk-cube sk-cube9"></div>
                     </div>
               </div>
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>
