<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://github.com/konum/garrus">
                        Github
                    </a>
                </li>
                <li>
                    <a href="http://ggefaell.blogspot.com">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Dashboard design by Creative Tim</a>.
        </div>
    </div>
</footer>
