<mat-table [dataSource]="dataSource">
	<ng-container matColumnDef="vehicle">
		<mat-header-cell *matHeaderCellDef>Vehiculo</mat-header-cell>
		<mat-cell *matCellDef="let ride">{{ride.vehicle.details}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="chofer">
		<mat-header-cell *matHeaderCellDef>Chofer</mat-header-cell>
		<mat-cell *matCellDef="let ride">{{ride.chofer.name}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="start">
		<mat-header-cell *matHeaderCellDef>Inicio</mat-header-cell>
		<mat-cell *matCellDef="let ride">{{ride.start | date:'short'}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="end">
		<mat-header-cell *matHeaderCellDef>Final</mat-header-cell>
		<mat-cell *matCellDef="let ride">{{ride.end | date:'short'}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="details">
		<mat-header-cell *matHeaderCellDef>Detalle</mat-header-cell>
		<mat-cell *matCellDef="let ride">{{ride.details}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="actions">
		<mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
		<mat-cell *matCellDef="let ride">
			<button mat-raised-button color="primary" routerLink="{{ride.id}}">Ver</button>
			<button mat-raised-button color="primary" (click)="onDelete(ride)">Eliminar</button>
		</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>