
<div class="main-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-8">
				<mat-table [dataSource]="dataSource"> <ng-container
					matColumnDef="date"> <mat-header-cell
					*matHeaderCellDef> Fecha </mat-header-cell> <mat-cell
					*matCellDef="let entry"> {{entry.date}} </mat-cell> </ng-container> <ng-container
					matColumnDef="info"> <mat-header-cell
					*matHeaderCellDef> Detalle </mat-header-cell> <mat-cell
					*matCellDef="let entry"> {{entry.info}} </mat-cell> </ng-container> <ng-container
					matColumnDef="actions"> <mat-header-cell
					*matHeaderCellDef> Acciones </mat-header-cell> <mat-cell
					*matCellDef="let entry">
				<button mat-raised-button color="primary" (click)="onDelete(entry)"
					title="Eliminar" class="actionButton">Borrar</button>
				</mat-cell> </ng-container> <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Agregar historial</h4>
						<!-- 						<p class="card-category"></p> -->
					</div>
					<div class="card-body">
						<mat-form-field> <input matInput type="date"
							placeholder="Fecha reparación"
							[ngModel]="entry.date| date:'yyyy-MM-dd'"
							(ngModelChange)="entry.date = $event" required> </mat-form-field>
						<mat-form-field> <textarea [cols]="20" required
							matInput placeholder="Detalle reparación"
							[(ngModel)]="entry.info" matTextareaAutosize></textarea> </mat-form-field>
						<button mat-raised-button color="primary" class="pull-right"
							(click)="addEntry()">Agregar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>