<div class="main-content">
	<mat-grid-list cols="5" rowHeight="7:1"> <mat-grid-tile>
	<button mat-raised-button color="primary" routerLink="dashboard">Dashboard</button>
	</mat-grid-tile> <mat-grid-tile>
	<button mat-raised-button color="primary" routerLink="vehicles">Vehiculos</button>
	</mat-grid-tile> <mat-grid-tile>
	<button mat-raised-button color="primary" routerLink="ride">Viajes</button>
	</mat-grid-tile> <mat-grid-tile>
	<button mat-raised-button color="primary" routerLink="driver">Conductores</button>
	</mat-grid-tile> <mat-grid-tile>
	<button mat-raised-button color="warn" routerLink="ride/newRide">Nuevo
		viaje</button>
	</mat-grid-tile> </mat-grid-list>

	<router-outlet></router-outlet>

</div>
