<div class="main-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-8">
				<mat-table [dataSource]="dataSource" matSort>
					<ng-container matColumnDef="dateStart">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </mat-header-cell>
						<mat-cell *matCellDef="let leave"> {{leave.start |date:'dd-MM-yyyy'}} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="dateEnd">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </mat-header-cell>
						<mat-cell *matCellDef="let leave"> {{leave.end |date:'dd-MM-yyyy' }} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
						<mat-cell *matCellDef="let leave">
							<button mat-raised-button color="primary" (click)="onDelete(leave)" title="Eliminar" class="actionButton">Borrar</button>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>
				<mat-paginator #paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"> </mat-paginator>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Agregar licencia</h4>
						<!-- 						<p class="card-category"></p> -->
					</div>
					<div class="card-body">
						<form #f="ngForm" novalidate (ngSubmit)="addLeave()">
							<mat-form-field>
								<input matInput type="date" name="datestatrt" placeholder="Fecha Inicio" [ngModel]="leave.start| date:'yyyy-MM-dd'" (ngModelChange)="leave.start = $event"
								 required> </mat-form-field>
							<mat-form-field>
								<input matInput type="date" name="dateend" placeholder="Fecha fin" [ngModel]="leave.end| date:'yyyy-MM-dd'" (ngModelChange)="leave.end = $event"
								 required> </mat-form-field>
							<button mat-raised-button color="primary" class="pull-right" type="submit" [disabled]="f.invalid">Agregar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>