<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" novalidate (ngSubmit)="save()">
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput type="password" placeholder="Change password" [(ngModel)]="user.password" name="password" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput  type="password" placeholder="Repeat password" [(ngModel)]="password2" name="password2">
                                </mat-form-field>
                            </div>
                        </div>
                          <button mat-raised-button type="submit" class="btn pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
