
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Viajes en curso</h4>
					</div>
					<div class="card-body table-responsive">
						<app-rides-list display="active"></app-rides-list>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Próximos viajes</h4>
					</div>
					<div class="card-body table-responsive">
						<app-rides-list display="next"></app-rides-list>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Viajes pasados</h4>
					</div>
					<div class="card-body table-responsive">
						<app-rides-list display="past"></app-rides-list>
					</div>
				</div>
			</div>
		</div>
	</div>
