	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Viajes en curso</h4>
					</div>
					<div class="card-body table-responsive">			   
						<app-rides-list display="active" ></app-rides-list>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Choferes disponibles</h4>
					</div>
					<div class="card-body table-responsive">
						<table class="table table-hover">
							<thead class="text-warning">
								<th>Nombre</th>
								<th>Accion</th>
							</thead>
							<tbody>
								<tr>
									<td>Walter</td>
									<td><button mat-raised-button color="primary">Ver</button></td>
								</tr>
								<tr>
									<td>Danilo</td>
									<td><button mat-raised-button color="primary">Ver</button></td>
								<tr>
									<td>Javier</td>
									<td><button mat-raised-button color="primary">Ver</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Vehiculos disponibles</h4>
					</div>
					<div class="card-body table-responsive">
							<app-vehicle-list [showActions]="false" [showFilter]="false" display="avaliable"></app-vehicle-list>
					</div>
				</div>
			</div>
		</div>
	</div>
