
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-danger">
					<h4 class="card-title ">{{tittle}}</h4>
				</div>
				<form #f="ngForm" novalidate (ngSubmit)="save()">
					<div class="card-body">
						<div class="row">
							<div class="col-md-2">
								<mat-form-field> <input type="date"
									#start matInput required name="datestart" placeholder="Fecha Inicio"
									[ngModel]="dateStart"
									(ngModelChange)="dateStartChange($event)"> </mat-form-field>
							</div>
							<div class="col-md-2">
								<mat-form-field> <input type="time" 
									#start matInput required name="hourstart" placeholder="Hora Inicio"
									[ngModel]="hourStart"
									(ngModelChange)="hourStartChange($event)"> </mat-form-field>
							</div>
							
							<div class="col-md-2">
								<mat-form-field> <input type="date"
									#start matInput required name="dateend" placeholder="Fecha Fin"
									[ngModel]="dateEnd"
									(ngModelChange)="dateEndChange($event)"> </mat-form-field>
							</div>
							<div class="col-md-2">
								<mat-form-field> <input type="time"
									#start matInput required name="hourend" placeholder="Hora fin"
									[ngModel]="hourEnd"
									(ngModelChange)="hourEndChange($event)"> </mat-form-field>
							</div>
							
							<div class="col-md-3">
								<mat-form-field> <mat-select name="driver"
									[compareWith]="compareDriver" placeholder="Chofer"
									[(ngModel)]="ride.chofer"> <mat-option 
									*ngFor="let chofer of drivers" [value]="chofer">
								{{ chofer.name }} </mat-option> </mat-select> 
								<mat-hint>Debe seleccionar primero los datos de inicio y fin</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-3">
								<mat-form-field> <mat-select name="vehicle"
									[compareWith]="compareVehicle" placeholder="Vehiculo"
									[(ngModel)]="ride.vehicle"> <mat-option
									*ngFor="let vehicle of vehicles" [value]="vehicle">
								{{ vehicle.details}} </mat-option> </mat-select>
								<mat-hint>Debe seleccionar primero los datos de inicio y fin</mat-hint>
								 </mat-form-field>
							</div>
							<div class="row">
								<div class="col-md-6">
									<mat-form-field> <input type="text" matInput
										required name="details" placeholder="Motivo del viaje"
										[(ngModel)]="ride.details"> </mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field> <input matInput 
										name="distance" placeholder="Distancia"
										[(ngModel)]="ride.distance"> 
										<mat-hint>En kilometros</mat-hint>
										</mat-form-field>
								</div>
								<div class="col-md-2">
									<button mat-raised-button color="primary" class="pull-right"
										type="submit" [disabled]="f.invalid">Guardar</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
